# T Test implementation using Python

### One sample T test

In [7]:
ages = [i for i in range(0,100,3)]

In [8]:
ages

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [10]:
import numpy as np
ages_num  = np.mean(ages)

In [11]:
ages_num

49.5

In [12]:
sample_size = 10
age_sample = np.random.choice(ages,sample_size)

In [13]:
age_sample

array([66, 33,  3, 75, 27, 48, 87, 39, 45,  6])

In [14]:
from scipy.stats import ttest_1samp

In [15]:
### Calucating ttest p value for a feature 
ttest, p_value = ttest_1samp(age_sample,49)

In [16]:
print(p_value)

0.5023616372283934

In [17]:
if p_value < 0.05:
    print("We are rejecting the Null Hypothesis")
else:
    print("We are accepting the Null Hypothesis")

We are accepting the Null Hypothesis

### Two sample T test

In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [21]:
ClassA_ages = stats.poisson.rvs(loc=18,mu=30,size=60)

In [20]:
np.random.seed(12)
Class_ages = stats.poisson.rvs(loc=18,mu=33,size=60)
Class_ages.mean()

50.63333333333333

In [22]:
### Taking 2 diff groups
_,p_values = stats.ttest_ind(a=ClassA_ages,b=Class_ages,equal_var=False)

In [23]:
p_values

0.00148827761873106